.HashTagWrapper {
    display: flex;
    justify-content: center;
    margin: 1.2rem 0;
    flex-wrap: wrap;
}

.HashTagWrapper__button {
    border-radius: 3rem;
    margin-right: 1rem;
    font-size: 14px;
    width: fit-content;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.8rem;
}

.HashTagWrapper__button:hover {
    background-color: #7749F8;
}