.HashTagWrapper {
    display: flex;
    justify-content: center;
    margin: 1.2rem 0;
    flex-wrap: wrap;
    height: 75px;
    overflow: hidden;
}

.HashTagWrapper__button {
    border-radius: 3rem;
    font-size: 14px;
    width: fit-content;
    padding: 0.2rem 0.8rem;
    margin: 0.25rem 0.5rem;
}

.HashTagWrapper__button:hover {
    background-color: #7749F8;
}