.Header {
    background-color: #8a2be2;
    padding: 0.25rem 0 0 0.25rem;
    
}

.Header__item {
    font-size: 16px;
    margin-left: 3rem;
}

.Header__item_content {
    color: white !important;
}

.Header__item_content:hover {
    text-decoration-line: none;
}

.Header__search {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    width: 17rem;
}
.Header__search_input {
    font-size: 14px;
    border-radius: 2.5rem;
    height: 2.4rem;
    padding: 0 1.7rem 0 1.5rem;
}
.Header__search_button {
    font-size: 14px;
    background-color: #C6C4FF;
    color: rgba(0, 0, 0, 0.65);
    width: 3.5rem;
    height: 36.5px;
    margin-left: 0.1rem;
}

.Header__search__searchIcon {
    width: 1.7rem;
    position: absolute;
    right: 1.7rem;
}

.Header__search_button:hover {
    background-color: #9990FF;
}