.DonationOrgCard__card {
    margin: 1rem 4rem;
}

.DonationOrgCard__card_text {
    font-size: 14px;
}

.DonationOrgCard__card_badge {
    border-radius: 1rem;
    font-size: 13px;
    padding: 0.3rem 1.2rem;
    background-color: #E7E7FF !important;
    border: 1px solid #CED4DA;
    color: gray;
    margin-right: 0.7rem;
}
