.CampaignBody__breadcrumb {
    background-color: #C6C4FF;
}

.CampaignBody__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.CampaignBody__content {
    width: 100%;
}

.CampaignBody__title {
    margin-top: 3rem;
}

.CampaignBody__nav {
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
}

.CampaignBody__nav_active {
    background-color: #C6C4FF;
    border-radius: 0.5rem 0.5rem 0 0;
}

.CampaignBody__nav_item {
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #EBEBEB;
}

.CampaignBody__nav_item>a {
    color: black;
}

.CampaignBody__nav_item>a:hover {
    color: black;
    text-decoration-line: none;

}

.CampaignBody__nav_active>a {
    color: black;

}

.CampaignBody__nav_active>a:hover {
    color: black;
    text-decoration-line: none;

}
