.OrganizationCard__card {
    margin: 0.25rem 4rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.OrganizationCard__card__img {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    max-height: 12.25rem;
}

.OrganizationCard__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 2rem;
}

.OrganizationCard__body_title {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.OrganizationCard__card_text {
    font-size: 14px;
}

.OrganizationCard__card_badge {
    border-radius: 1rem;
    font-size: 13px;
    padding: 0.3rem 1.2rem;
    background-color: #E7E7FF !important;
    border: 1px solid #CED4DA;
    color: #6F6F6F;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: 400;
}

.OrganizationCard__hashtagWrapper{
    margin-top: 0.5rem;
    height: 30px;
    overflow: hidden;
}

