.SearchBox {
    width: 40rem;
    display: flex;
}

.SearchBox__input {
    border-radius: 2.5rem;
    box-shadow: 0px 1.5px 5px rgb(0 0 0 / 10%);
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 0.875rem;
}

.SearchBox__searchIcon {
    width: 1.5rem;
    position: relative;
    top: 0.5rem;
    left: -2.5rem;
}
