.CampaignCard__card {
    width: 49%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.CampaignCard__card__img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 17rem;
}

.CampaignCard__header {
    font-size:0.875rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    /* flex-direction: column;
    align-items: flex-start; */
}

.CampaignCard__header__category {
    border-radius: 1rem;
    margin-left: 0.5rem;
    background-color: #6B4EFF !important;
    padding: 0.35rem 1rem;
}
.CampaignCard__header__title {
    display: flex;
}

.CampaignCard__card_text {
    font-size: 14px;
}

.CampaignCard__hashtagWrapper {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.CampaignCard__card_badge {
    border-radius: 1rem;
    font-size: 13px;
    padding: 0.3rem 1.2rem;
    background-color: #E7E7FF !important;
    border: 1px solid #CED4DA;
    color: #6F6F6F;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}

.CampaignCard__body {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: space-between;
    /* height: 20rem; */
}

.CampaignCard__body_title {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.CampaignCard__dueDate {
    font-size: 14px;
    color: #68717A;
    margin-top: 0.5rem;
}