.CampaignCard__card {
    height: 24rem;
    width: 26.5rem;
    margin-bottom: 0.5rem;
}

.CampaignCard__card_text {
    font-size: 14px;
}

.CampaignCard__card_badge {
    border-radius: 1rem;
    font-size: 13px;
    padding: 0.3rem 1.2rem;
    background-color: #E7E7FF !important;
    border: 1px solid #CED4DA;
    color: gray;
    margin-right: 0.7rem;
}

.CampaignCard__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CampaignCard__body_title {
    font-weight: 600;
    font-size: 1.125rem;
}